<div class="about_frag">
  <h1>About</h1>
  
  <ul>
    <li><h3>Bringing science to you</h3></li>
    <p>Here at MIT, we're trying a new approach in developmental psycology and bringing the experiment to you.</p>
    <p>Traditionally, families are recruited to participate in research about infant cognition over the phone and schedule a visit to a nearby university lab. However, for studies that don't absolutely require live interaction, online experiments can save some of your time. There's no schlepping the whole family over to a lab, and you can try an experiment when your child is alert and cooperative. As most parents know, trying to predict a good time an hour in advance is hard enough, let alone a week ahead!</p>
    <p>We're excited that everyone can participate, regardless of location or whether you're able to come to a mid-week appointment. And we're hoping that our studies will be a fun rainy-day activity for parents as well as children, building on your natural fascination with how fast your children are learning about the world. In some experiments you'll step into the role of a researcher, asking your child questions or controlling the progression of the experiment based on his or her behavior.</p>
    <p>Looking forward, we hope that webcam-based studies will provide an addition way to work with special populations and to run follow-up "visits". But the techniue is still in its own infancy!</p>
    
    <li><h3>What sorts of information does the lab get from videos?</h3></li>
    <p>
      We will be updating this list as experiments go live, explaining data usage as it pertains to individual experiments!
    </p>
    <!--<ul>
	<li>We will be updating this list as experiments go live, to explain usage as it pertains to each individual experiment.</li>
    </ul>-->
    
  </ul>
</div>
