<!-- This ID is important and if changed will not display images properly -->
<div id="consent" align="center"></div> <br/>
<div class="consent_frag">
  <p>
    Here is <a target="_blank" href="/webcam/static/res/child_consent_online.pdf">the consent form</a>. If you decide to take part:
  </p>
  <ol>
    <li>
      Print and fill out the form. Please note that you must be the child's legal gaurdian to provide consent.
    </li>
    <li>
      Hold up your signed form and click the button to take a picture with your webcam. Make sure the whole form is visible -- you can take anothor picture if you need to.
    </li>
    <li>
      Hit "Send" to start the study.
    </li>
  </ol>
  <p>
    If we do not get a picture of a completed consent form, no other data transmitted will be viewed or used in any form.
  </p>
</div>
