<div class="contact_frag">
  <h1>Contact Information</h1>
  <p>
    These studies are conducted by MIT's <a href="http://web.mit.edu/eccl">Early Childhood Cognition Lab</a>.
  </p>
  <hr/>
  <p>
    For technical difficulties with experiments on this website, please contact: <br/> <br/>
    Kim Scott <br/>
    Graduate Student, Early Childhood Cognition Lab <br/>
    <a href="mailto:kimscott@mit.edu">kimscott@mit.edu</a>
  </p>
  <hr/>
  <p>
    If you or your child have any questions or concerns about the research in regards to informed consent, please feel free to contact: <br/> <br/>
    Associate Professor Laura Schulz <br/>
    (617) 253-7957 <br/>
    <a href="mainto:lschulz@mit.edu">lschulz@mit.edu</a> <br/>
    MIT Dept. of Brain &amp; Cognitive Sciences <br/>
    77 Massachusetts Avenue, 46-4011 <br/>
    Cambridge, MA 02139 
  </p>
  <hr/>
  <p>
    We are glad to share code and provide guidance setting up your own webcam-based experiments online, or discuss possibilities for collaboration. For more information, please contact Kim Scott.
  </p>
</div>
