<div class="upload_frag">
  <p>
    Thank you so much for helping with this study! Please press "Send" below to start transferring your recording to our secure server, or "Cancel" to withdraw from the study without sending any data.
  </p>
  <p>
    Please note that we are grateful for the recordings and your participation regardless of whether your child completed the task -- it is common for kids to lose interest of for something to come up at home. Seeing the full collection of responses lets us both fine-tun our studies and draw more valid conclusions.
  </p>
</div>
